# .gitignore

# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Compiled files
/build
/dist

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and debugging files
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log*
